pandas==2.0.3
uvicorn==0.23.2
fastapi
fastapi-jwt-auth
python-multipart
python-jose
pymongo[srv]
passlib[bcrypt]
fake-useragent==1.4.0
openpyxl==3.1.2
pypdf==3.15.5
bs4==0.0.1
schedule==1.1.0
shortuuid==1.0.11
xmltodict
gunicorn
lxml
PyMuPDF
ratelimit
streamlit
langchain
langchain-openai
langchain_community
langchain-mongodb
PyMuPDF
spacy 
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
pydantic==2.7.1
pydantic-settings==2.2.1
pydantic_core==2.18.2